{{> header}} {{!-- partials --}}
<form class="main__form" method="POST" action="/search">
    <input type="text" name="search" class="main__input" placeholder="Search About Photos" required>
    <input type="submit" name="submit" class="main__button" value="Search ">
</form>